:root {
    --gap: 25px;
    --header-title-padding: 50px;
    --header-link-padding: 15px;
    --content-padding: 25px;
    --body-padding: 20px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: var(--gap);
    padding-top: 25px;
    padding-left: var(--body-padding);
    padding-right: var(--body-padding);

    background-color: #933c73;
    background-image:  repeating-linear-gradient(45deg, #7B3260 25%, transparent 25%, transparent 75%, #7B3260 75%, #7B3260), repeating-linear-gradient(45deg, #7B3260 25%, #933c73 25%, #933c73 75%, #7B3260 75%, #7B3260);
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
    color: #FFFFFF;
    font-family: monospace;
}

.header {
    border: 5px solid #2F1325;
    background-color: #B74B90;
    padding-bottom: 5px;
    padding-left: var(--header-title-padding);
    padding-right: var(--header-title-padding);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-links {
    display: flex;
    flex-direction: row;
    gap: var(--header-link-padding);
    justify-content: space-around;
    flex-wrap: wrap;
}

.content {
    border: 5px solid #2F1325;
    background-color: #B74B90;
    padding: var(--content-padding);
    width: 90%;
}

.gif-buttons {
    display: flex;
    flex-direction: row;
    gap: var(--gap);
    justify-content: space-around;
    flex-wrap: wrap;
}

.sharelink {
    border: 2px solid #2F1325;
    background-color: #ff69c9;
    color: #2F1325;
}
