@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
    --link-color: #7659da;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0;
    padding: 0;
    min-height: 100vh;

    background-color: black;
    background-image: radial-gradient(#ffcfed 0.4vh, transparent 0);
    background-size: 5vh 5vh;
    animation: diagonalScroll 20s linear infinite forwards;

    color: #ffcfed;

    font-family: "Roboto", sans;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 1.7vh;
}

@keyframes diagonalScroll {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -46vh -46vh;
    }
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 1.85vh;

    border-top: 0.3vh solid #ffcfed;
    border-bottom: 0.3vh solid #ffcfed;
    background-color: rgba(0, 0, 0, 0.8);
}

.main-content .center {
    width: 90vw;
}

@media (width >= 900px) {
    .main-content .center {
        width: 41vw;
    }
}

ul {
    padding-left: 2.08vw;
}

a {
    color: var(--link-color);
}
