:root {
    --gap: 25px;
    --header-title-padding: 50px;
    --header-link-padding: 15px;
    --content-padding: 25px;
    --body-padding: 20px;
}

body {
    padding-top: 25px;
    padding-left: var(--body-padding);
    padding-right: var(--body-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap);

    background-color: #933c73;
    background-image:  repeating-linear-gradient(45deg, #7B3260 25%, transparent 25%, transparent 75%, #7B3260 75%, #7B3260), repeating-linear-gradient(45deg, #7B3260 25%, #933c73 25%, #933c73 75%, #7B3260 75%, #7B3260);
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;

    color: #FFFFFF;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    border: 5px solid #2F1325;
    background-color: #B74B90;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-title {
    padding-left: var(--header-title-padding);
    padding-right: var(--header-title-padding);
}

.header-links {
    display: flex;
    flex-direction: row;
}

.header-link {
    padding-left: var(--header-link-padding);
    padding-right: var(--header-link-padding);
    padding-bottom: 5px;
}

.content {
    border: 5px solid #2F1325;
    background-color: #B74B90;
    padding: var(--content-padding);
}

.gif-buttons {
    display: flex;
    flex-direction: row;
    gap: var(--gap);
}
