.project-list {
  text-align: center;
  margin-bottom: 10px;
}

.project {
  display: inline-block;
  text-align: center;

  background-color: var(--background-color);

  border-style: solid;
  border-width: 3px;

  padding: 5px;
  margin: 5px;
}

.project img {
  width: 95%;
  max-width: 400px;
  height: auto;
  border-style: solid;
  border-width: 3px;
}

.project a,
.project a:visited {
  color: var(--foreground-color);
}
