{{ partial "header.html" . }}

<div class="article-meta">
  <h1>
    <span class="title">{{ .Title | markdownify }}</span>
  </h1>
  {{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}
  {{ if (gt .Params.date 0) }}
    <h2 class="date">
      <span style="font-size:0.6em">Created at: </span>
      {{ .Date.Format "2006/01/02" }}
    </h2>
  {{ end }}
</div>

<main>
  {{ if .Page.Param "hidden" }}
    <span style="font-size:2em;color:red;">
      WARNING: THIS IS A HIDDEN PAGE
    </span>
    <br>
    <span style="font-size:1.5em;">
      <b>This means you probably don't want to read that, so read at your own risk.</b><br>
      To read, scroll down 200 lines or smth.
    </span>

    {{ range seq 250 }}
      <br>
    {{ end }}
  {{ end }}

  {{ .Content }}
</main>

{{ partial "footer.html" . }}
