/*
 * !!! Variables are set in JavaScript !!!
 */

body {
    max-width: 800px;
    margin: auto;
    padding: 1em;
    line-height: 1.5;

    color: var(--foreground-color);

    /*
     * Background: https://codepen.io/t_afif/pen/PoaXzmN
     */

    --s: 80px;
    --c: var(--background-color-1);
    --_g:
        #0000 calc(-650%/13) calc(50%/13),var(--c) 0 calc(100%/13),
        #0000 0 calc(150%/13),var(--c) 0 calc(200%/13),
        #0000 0 calc(250%/13),var(--c) 0 calc(300%/13);
    --_g0: repeating-linear-gradient( 45deg,var(--_g));
    --_g1: repeating-linear-gradient(-45deg,var(--_g));
    background:
        var(--_g0),var(--_g0) var(--s) var(--s),
        var(--_g1),var(--_g1) var(--s) var(--s) var(--background-color-2);
    background-size: calc(2*var(--s)) calc(2*var(--s));
}

a {
    color: var(--link-color);
}

.content-in-white {
    box-shadow: 0px 0px 60px -15px var(--title-accent-color);
    background-color: var(--content-background-color);
    padding: 10px;
    border: 2px solid var(--content-border-color);
    border-width: 5px;
    border-radius: 15px;
}

/* header and footer areas */
.menu { padding: 0; }
.menu li {
    display: inline-block;
    margin-bottom: 7px;
}
.article-meta, .menu a {
    text-decoration: none;
    background: var(--accent-gradient-to);
    margin-top: 10px;
    padding: 5px;
    border-radius: 15px;

    background: linear-gradient(149deg,
                                var(--accent-gradient-from) 0%,
                                var(--accent-gradient-to) 100%);
}
.menu, .article-meta, footer { text-align: center; }
.title { font-size: 1.1em; }
footer a { text-decoration: none; }
hr {
    border-style: dashed;
    color: var(--hr-color);
}
.header {
    background-color: var(--header-background-color);
    color: var(--header-foreground-color);
    border-radius: 10px;
    border: 5px solid var(--header-border-color);
    border-style: dashed;
    padding-bottom: 0;
}
.header a {
    color: var(--header-link-color);
    margin: 0px 2px 0px 2px;
}
.logo { margin-left: 10px; }

/* code */
pre {
    border: 1px solid #ddd;
    box-shadow: 5px 5px 5px var(--code-highlight-color);
    padding: 1em;
    overflow-x: auto;
}
code { background: var(--code-highlight-color); }
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
    background: #f9f9f9;
    border-left: 5px solid #ccc;
    padding: 3px 1em 3px;
}

table {
    margin: auto;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }

h1, h2, h3, h4, h5, h6 {
    text-shadow: 2px 2px 5px var(--title-accent-color);
    color: #FFF;
}
