/* Drawings container */
.drawings {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 10px;
  align-items: stretch;
}

/* Drawing */
.drawings > div {
  background-color: var(--background-color-alt);
  padding: 20px;

  border-style: solid;
  border-width: 2px;

  max-width: 240px;
}

/* Image */
.drawings > div > img {
  width: 95%;
}

/* Comment */
.drawings > div > div {
  width: 95%;
}

/* Title */
.drawings > div > div > h3 {
  quotes: auto;
}
.drawings > div > div > h3::before {
  content: open-quote;
}
.drawings > div > div > h3::after {
  content: close-quote;
}
